# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Packer
packer_cache/
*.log

# Secrets — NEVER commit these
*.auto.tfvars
terraform.tfvars
*.pkrvars.hcl
.env

# SSH keys
id_rsa*
*.pem

# OS
.DS_Store
Thumbs.db

# Env
.venv